<html>

	<head>
		<meta charset="UTF-8">
		<title>DRP 分销资源计划</title>
		<link rel="icon" type="image/png" href="../i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="../i/app-icon72x72@2x.png" type="text/css">
		<link rel="stylesheet" href="../css/amazeui.min.css" />
		<link rel="stylesheet" href="../css/admin.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/amazeui.min.js"></script>
	</head>

	<frameset rows="50,*" cols="*" frameborder="no" border="0" framespacing="0">
		<frame src="../view/top.html" name="title" scrolling="no" noresize="noresize">
			<frameset cols="210,*" frameborder="no" border="0" framespacing="0">
				<frame src="../view/left.jsp" name="tree" scrolling="no" marginheight="0" marginwidth="0">
					<frame src="../view/right.html" name="main" scrolling="yes" frameborder="0" marginwidth="0" marginheight="0" noresize="noresize">
			</frameset>
	</frameset>

	<body>
	</body>

</html>