<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<html>

	<head>
		<meta charset="utf-8">
		<title>DRP 分销资源计划</title>
		<link rel="icon" type="image/png" href="../../i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="../../i/app-icon72x72@2x.png" type="text/css">
		<link rel="stylesheet" href="../../css/amazeui.min.css" />
		<link rel="stylesheet" href="../../css/admin.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/app.js"></script>

		<script language="javascript">
			var rowIndex = 0;

			function choiceClient(index) {
				var width = 1000;
				var height = 600;
				var top = Math.round((window.screen.height - height) / 2);
				var left = Math.round((window.screen.width - width) / 2);
				window.open('client_select.jsp?index=' + index, '请选择分销商', "height=" + height + ", width=" + width + ",top=" + top + ", left= " + left + ", scrollbars=no");
			}

			function selectAimClient(index) {
				window.open('aim_client_select.jsp?index=' + index, '请选择需方客户', 'width=700, height=400, scrollbars=no');
			}

			function selectItem(index) {
				window.open('item_select.jsp?index=' + index, '请选择物料', 'width=700, height=400, scrollbars=no');
			}

			function addOneLineOnClick() {
				var row = document.getElementById("tblFlowCardDetail").insertRow(document.getElementById("tblFlowCardDetail").rows.length);
				var col = row.insertCell(0);
				col.innerHTML = "<input type=\"hidden\" name=\"aimInnerId\"><input readonly=\"true\" maxLength=6 size=6 name=aimId><input type=button  value =...   name=btnSelectAimClient index=\"" + rowIndex + "\" onclick=\"selectAimClient(this.index)\">";
				col = row.insertCell(1);
				col.innerHTML = "<input id=aimName name=aimName size=25 maxlength=25 >";
				col = row.insertCell(2);
				col.innerHTML = "<input readonly=\"true\" maxLength=6 size=6 name=itemNo><input type=button  value =...   name=btnSelectItem index=\"" + rowIndex + "\" onclick=\"selectItem(this.index)\">";
				col = row.insertCell(3);
				col.innerHTML = "<input id=itemName name=itemName size=25 maxlength=25  >";
				col = row.insertCell(4);
				col.innerHTML = "<input id=spec name=spec size=10 maxlength=10 >";
				col = row.insertCell(5);
				col.innerHTML = "<input id=pattern name=pattern size=10 maxlength=10 >";
				col = row.insertCell(6);
				col.innerHTML = "<input id=unit name=unit size=4 maxlength=4 >";
				col = row.insertCell(7);
				col.innerHTML = "<input id=qty name=qty size=6 maxlength=6>";
				col = row.insertCell(8);
				col.innerHTML = "<input type='button' value='删除' id=btnDeleteLine name=btnDeleteLine onclick=\"return DeleteRow('row" + rowIndex + "')\">";
				row.setAttribute("id", "row" + rowIndex);
				rowIndex++;
			}

			function DeleteRow(rowTag) {
				//alert(rowTag);
				var i = document.getElementById("tblFlowCardDetail").rows(rowTag).rowIndex;
				var j;
				for(j = i; j <= rowIndex; j++) {
					document.getElementById("tblFlowCardDetail").rows(j).cells(0).all("btnSelectAimClient").index--;
					document.getElementById("tblFlowCardDetail").rows(j).cells(2).all("btnSelectItem").index--;
				}
				//alert(i);
				document.getElementById("tblFlowCardDetail").deleteRow(i);
				rowIndex--;
			}

			function goBack() {
				window.self.location = "flow_card_audit.html";
			}
		</script>
	</head>

	<body>
		<div class="daohang">
			<ul>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a href="index.html">首页</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">奖金管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
			</ul>
		</div>
		<div class="admin-biaogelist">
			<div class="listbiaoti am-cf">
				<dl class="am-icon-home" style="float: left;"> 当前位置：分销商库存管理>
					<a href="flow_card_maint.html">流向单审核</a>>
					<a href="#">调整</a>
				</dl>
			</div>

			<div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
				<ul>
					<li>流向单号:</li>
					<li>200706260001</li>
					<li style="margin-left: 180px;">供方分销商代码:</li>
					<li>1001</li>
					<li style="margin-left: 200px;">供方分销商名称:</li>
					<li>北京医药有限公司</li>
					<li style="margin-left: 105px;">入库日期:</li>
					<li>2007-06-15</li>
				</ul>
			</div>

			<form class="am-form am-g">
				<table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped" name="tblFlowCardDetail" id="tblFlowCardDetail">
					<thead>
						<tr class="am-success">
							<th class="table-id">需方客户代码</th>
							<th class="table-id">需方客户名称</th>
							<th class="table-title">物料代码</th>
							<th class="table-type">物料名称</th>
							<th class="table-type">规格</th>
							<th class="table-type">型号</th>
							<th class="table-id">计量单位</th>
							<th class="table-title">数量</th>
							<th class="table-type">*调整原因</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" name="id" value="14" /></td>
							<td>
								<input type="text" name="id" value="Business managementas" />
							</td>
							<td>
								<input type="text" name="id" value="default" /></td>
							<td class="am-hide-sm-only">
								<input type="text" name="id" value="张三" /></td>
							<td class="am-hide-sm-only">
								<input type="text" name="id" value="2014年9月4日 7:28:47" /></td>
							<td><input type="text" name="id" value="14" /></td>
							<td>
								<input type="text" name="id" value="Business managementas" />
							</td>
							<td>
								<input type="text" name="id" value="default" /></td>
							<td class="am-hide-sm-only">
								<input type="text" name="id" value="" /></td>
						</tr>

					</tbody>
				</table>

				<div class="am-btn-group am-btn-group-xs">
					<input name="btnSave" type="submit" id="btnSave" value="保存">
					<input name="btnBack" type="button" id="btnBack" onClick="goBack()" value="返回">
				</div>

				<ul class="am-pagination am-fr">
					<li class="am-disabled">
						<a href="#">«</a>
					</li>
					<li class="am-active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">»</a>
					</li>
				</ul>

				<hr />
				<p>注： 共 页 当前第 页</p>
			</form>

			<div class="foods">
				<ul>
					版权所有@2015. 模板收集自
					<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - More Templates
					<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
				</ul>
				<dl>
					<a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
				</dl>
			</div>
		</div>
		<script src="../../js/amazeui.min.js"></script>
	</body>

</html>